@import 'utils/parameters';// переменные
@import 'utils/mixins';//миксины scss



.footer{
   background: #214E41;
   min-height:78.8rem;
}

.contacts{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   margin-top: 10rem;
  
}

.vector-img{
   margin-bottom:12rem;
}
.link-text{
   margin-left: 10.5rem;
}

.name-contacts{
   font-family: $body-font;
   font-style: normal;
   font-weight: bold;
   font-size: 1.3rem;
   line-height: 2.4rem;
   letter-spacing: 0.02px;
   text-transform: uppercase;
   color: #FFFFFF;
  
   
}

.link-contacts{
   font-family: $body-font;
   font-style: normal;
   font-weight: normal;
   font-size: 1.6rem;
   line-height: 2.7rem;
   color: #FFFFFF;
   display: block;
   margin-top: 1.5rem;
   
}

.latest{
   font-family: $body-font;
   font-style: normal;
   font-weight: normal;
   font-size: 1.3rem;
   line-height: 2.4rem;
   letter-spacing: 0.02px;
   text-transform: uppercase;
   color: #FFFFFF;
   display: block;
   margin-bottom: 1.9rem;
}

.text-latest{
   font-family: $body-font;
   font-style: normal;
   font-weight: normal;
   font-size: 1.4rem;
   line-height: 2.4rem;
   letter-spacing: 0.02px;
   color: #FFFFFF;
   display: block;
   max-width: 34.5rem;
   margin-bottom: 1.6rem;
}

.email{

   background:$c-primary;
   font-family:$body-font;
   font-style: normal;
   font-weight: normal;
   font-size: 1.4rem;
   line-height: 2.4rem;
   width:35.5rem;
   height:5.2rem;
   border: 1px solid #214E41;
}

.widgets {
   display: flex;
   flex-wrap: wrap;
   justify-content: flex-start;
   margin-top: 3rem;
}



.inst{
   padding-right: 2.5rem;
}



.description  {
   
   border-bottom: 0.01rem solid #FFF;
   width: 135rem;
   background:#FFF;
   height:1px;
   margin-bottom: 32.7rem; 
   margin-top: 7rem;
   max-width: 120rem
   
   }

 .footer-text{
   font-family: $body-font;
   font-style: normal;
   font-weight: normal;
   font-size: 1.4rem;
   line-height: 2.4rem;
   letter-spacing: 0.02px;
   color: #FFFFFF;
   padding: 7.3rem 0 2rem;
   
 }

 .endtext{
   font-family: $secondary-font;
   font-style: normal;
   font-weight: normal;
   font-size: 1.4rem;
   line-height: 2.4rem;
   letter-spacing: 0.02px;
   color: #FFFFFF;
   margin-bottom: 2.4rem;
   
 }

 .contacts-copy {
   font-family: $body-font;
    font-style: normal;
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 2.4rem;
    letter-spacing: 0.02px;
    color: #FFFFFF;
    
    
 }


 .terms {
   border-left: 0.01rem solid #FFF;
   height:2.4rem;
   margin:0 0.9rem 0 1rem;
 }


 .privacy{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
 }

 .last{
   display: flex;
   flex-wrap: wrap;

 }
   