section.fifth
   div.container
      div.telephone
         img(src="./assets/imgs/telephone.jpg", alt="telephone").img-telephone
         div   
            p.experience a better claims experience
            h2.people Give your people a plan that pays in hours—not weeks.
            p.portal  Your team can’t wait for peace of mind. Brella pays on diagnosis, so members can file a claim sooner and get paid faster via our Member Portal or mobile app.
            a(href="#").video Play Video      