footer.footer
    .footer 
        .container 
            div.contacts
                img(src="./assets/imgs/vector.svg", alt="vector").vector-img
                div.link-text
                    h3.name-contacts Join Brella
                    a(href="#").link-contacts Our Plan
                    a(href="#").link-contacts Employers
                    a(href="#").link-contacts Brokers
                    a(href="#").link-contacts Members
                div 
                    h3.name-contacts Company
                    a(href="#").link-contacts About     
                    a(href="#").link-contacts Blog
                    a(href="#").link-contacts Careers
                    a(href="#").link-contacts Contact
                div 
                    p.latest Get the latest
                    p.text-latest Sign up to receive benefits news and insights in your inbox once a month.
                    div.email
                        form(action="#")
                        input(type="text",name="email", placeholder="Email*").email
                    div.widgets    
                        img(src="./assets/imgs/insta.png", alt="inst").inst
                        img(src="./assets/imgs/tvitter.png", alt="tvitter").inst
                        img(src="./assets/imgs/youtube.png", alt="tvitter")      
            div.description 
                p.footer-text Brella is a limited benefit policy; it is not a substitute for health insurance. The information provided on this website is illustrative only. A complete description of benefits, limitations, and exclusions are provided in your certificate of Insurance and applicable Riders. For a summary of limitations and exclusions, see our FAQ. Payout values listed do not guarantee an amount to be paid for listed conditions. Product not available in all states. All coverage is subject to the terms and conditions of the master group policy. 
                p.endtext Brella is underwritten by Greenhouse Life Insurance Company (NAIC 80055). Form No. PFSB11-TX  
                p.endtext Reach us by mail at 2093 Philadelphia Pike #2496, Claymont, DE 19703 and by phone at (844) 987-1070
            div.privacy
                p.contacts-copy &copy 2021 Brella Insurance Inc. All Rights Reserved. 
                div.last
                    p.contacts-copy  Privacy
                    div.terms 
                    p.contacts-copy  Terms of Service    