section.second-section 
   div.container
      div.deductible
         div
            p.why Why Brella?
            h2.information Today, any health insurance deductible can feel like a high deductible.
            p.plan Brella's supplemental health plan enhances your health benefit strategy to ensure that health hardships don't become financial burdens.
            a(href="#").nav See our plan
         div.chart  
            img(src="./assets/imgs/graff.png", alt="graff") 
