section.seventh
   .container 
      h2.backed Proudly backed by
      div.sponsors
         img(src="./assets/imgs/brewer.png", alt="brewer").img-sponsors
         img(src="./assets/imgs/sigma.png", alt="sigma").img-sponsors
         img(src="./assets/imgs/digitalis.png", alt="digitalis").img-sponsors
         img(src="./assets/imgs/founder.png", alt="founder").img-sponsors
         img(src="./assets/imgs/symphony.png", alt="symphony").img-sponsors
   div.line