selection.sixh
   div.enrollment
      div.container 
         p.employers  for employers
         h2.people Easy enrollment meets simple administration.
         p.platforms  Brella brings 100% paperless implementation, enrollment, and admin. Plug into our platforms or we’ll plug into yours.
         a(href="#").video Learn more     