section.third-section
   div.content 
      div.main-admin
         p.why brella brings
         h2.customizable Customizable benefits
         p.admin Paperless install & admin
         p.admin Effortless enrollment
         p.admin Easy claims experience
         p.admin Fast benefit payouts
         p.admin Concierge support
      div.body-admin
         p.tagline Every Brella plan comes with a benefit for Moderate, Severe, and Catastrophic conditions. Employees can select the payout amounts that fit their needs and their budget.
         p.tagline Employers can fund part or all of the premiums—or offer Brella as a voluntary benefit. The choice is up to you.